.form-group{
	margin-bottom: 25px;
	background-color: transparent;
}
.form-group label{
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	/*text-transform: uppercase;*/
	margin: 0 0 15px 0;
}
.form-group textarea{
	min-height: 50px;
	background-color: transparent;
	color: #FFF;
}
.form-group input::-webkit-input-placeholder {
   color: #fff;
}
.form-group input{
	background-color: transparent;
	color: #FFF;
	border: none;
	border-bottom: 2px solid #FFF;
	font-style: 20px;
}
.form-control {
	border: 1px solid #DEDEDE;
	border-radius: 0px;
	font-size: 20px;
}
.form-control:focus {
    border-color: #CCC;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.naked{
	border-radius: 3px;
	background-color: transparent;	
	color: #FFF;
	border-color: #CCC;
}
.naked:hover, .naked:active, .naked:focus {
	color: #000;
	border-color: #777;
	background-color: transparent;	
}
.advanced-search label{
	font-size: 16px;
	color: #555;
	font-weight: 300 !important;
}
.advanced-search input[type="text"]{
	margin-top: 30px;
	padding: 20px 10px;
	font-size: 16px;
	border-radius: 4px;
}
.advanced-search .corpusList{
	margin-top: 30px;
}
.advanced-search .searchType{
	margin-top: 20px;
}
.advanced-search input[type="submit"], .advanced-search input[type="reset"]{
	background: none;
	border: 1px solid #DDD;
	padding: 5px 20px;
	border-radius: 4px;
	margin-left: 20px;
}
