#sidebar.affix {
    top: 20px;
}
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: rgba(0, 0, 0, 0.6);
    border-left: 2px solid transparent;
    padding: 1px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 40px;
    font-size: 14px;
}

.bs-docs-sidebar .nav .nav .nav>li>a {
    padding-left: 60px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #3F51B5;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #3F51B5; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
.bs-docs-sidebar > ul {
    overflow-y: auto;
    height: 90%;
    width: 250px;
}
.bs-docs-sidebar .nav>li.first>a {
    margin-top: 30px !important;
}
.bs-docs-sidebar .nav>li.special>a {
    color: rgba(0, 0, 0, 0.8);
 }
.bs-docs-sidebar .nav>li.special>a:hover, 
.bs-docs-sidebar .nav>li.special>a:focus {
    color: #3F51B5;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #F57C00; 
}
